* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html , body {
width: 100%;
height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b8a8a;
  /* overflow: hidden; */
}

.container {
  padding: 1.5vw 6vw;
  width: 50vw;
  min-height: 100vh;
  /* background-color: red; */
}

.to-do{
  width: 35vw;
  height: 35vh;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid gray;
  border-radius: 20px;
  margin-bottom: 2vw;
  border: 2px solid black;
}

.text h1{
  font-size: 2.5vw;
}
.text p{
  font-size: .9vw;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  background-color: orangered;
  border-radius: 50%;
}

.circle h1{
  font-weight: 900;
  font-size: 2.3vw;
}

form{
  display: flex;
  gap: 1.5vw;
  padding: 1vw 0;
  /* background-color: violet; */
  margin-bottom: 1vw;
}
form input{
  padding: 1vw ;
  width: 75%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
  color: white;

}
form input::placeholder{
  color: white;
  font-size: 1.1vw;
}

button{
  width: 50px;
  height: 50px;
  padding: 1vw;
  border-radius: 50%;
  background-color: orangered;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
button i{
  font-size: 2.2vw;
  cursor: pointer;
}

.tasks::-webkit-scrollbar{
  display: none;
}
.task{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20vw;
  padding: 1vw ;
  /* background-color: violet; */
  margin-bottom: 1vw;
  border: 1px solid black;
  border-radius: 20px;
  overflow-y: auto;
}

.task:hover{
  cursor: pointer;
  background-color: grey;
  box-shadow: 2px px 1px rgba(0, 0, 0, 0.506);

}


.task::-webkit-scrollbar{
  display: none;
}

.one{
  display: flex;
  align-items: center;
  gap: 20px;
}
.min-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  /* background-color: green; */
}

.icon{
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all ease 1s;
}

.icon i{
  font-size: 20px;
  cursor: pointer;
}

.icon i:active{
  scale: 1.15;
}

.icon i:hover{
  color: white;
}